@font-face {
  font-family: texter;
  src: url('/texter.ttf');
}

@font-face {
  font-family: light;
  src: url('/light.ttf');
}

@font-face {
  font-family: medium;
  src: url('/medium.ttf');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  /* max-height: 600px; */
}

.column {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* max-width: 1200px; */
  max-height: 800px;
}

.reversed {
    flex-direction: row-reverse;
}

.image {
  flex: 1;
  padding: 10px;
  overflow: hidden;

    &img {
        height: 150%;
        width: 150%;
    }
}

.sourceImage {
    width: 20%;
    padding-top: 60px;
    margin-bottom: 20px;
}

.content {
  flex: 1;
  background-image: url('/cool-wave.jpg');
  min-height: 100%;
  background-size: cover;
  background-blend-mode: multiply;
  background-color: rgba(26, 0, 27, 0.5);
  color: white;
  padding-right: 30px;
  padding-left: 60px;
  font-size: 25px;
  font-family: texter;
  box-shadow: inset 0 0 0 2000px rgba(26, 0, 27, 0.5);
  background-position: 75%;
}

.title {
  color: rgb(234, 31, 228);
  font-size: 36px;
  font-family: texter;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
}

.body {
  font-family: light;
  font-size: 18px;
  color: white;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  line-height: 2;
}

@media (max-width: 768px) {
    .column {
        flex-direction: column;
        max-height: initial;
        align-items: center;
    }
    .body {
        margin-bottom: 40px;
    }

    .image {
        max-width: 300px;
    }
}
