@font-face {
    font-family: texter;
    src: url('/texter.ttf');
}

@font-face {
    font-family: light;
    src: url('/light.ttf');
}

@font-face {
    font-family: medium;
    src: url('/medium.ttf');
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.bookingContainer {
    display: none;
}

.backgroundVideo {
    margin-top: -200px;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.video {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    /* Dark overlay */
}

.content {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90%;
    height: 600px;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: tahoma, sans-serif;
    color: rgb(234, 31, 228);
    line-height: 1.1;
}

.subtitle {
    font-size: 7rem;
    line-height: normal;
    text-align: left;
    width: 80%;
    margin-bottom: 40px;
    color: white;
    height: 100%;
}

.button {
    padding: 25px 20px;
    background-color: rgb(234, 31, 228);
    /* Pink button */
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    height: 100px;
    border-radius: 50px;
    transition: background-color 0.3s;
    font-family: medium, sans-serif;
    font-weight: 400;
}

.button:hover {
    background-color: rgb(70, 197, 231);
    color: white;
}

@media (max-width: 768px) {
    .subtitle {
        font-size: 4rem;
    }

    .backgroundVideo {
        display: none;
    }

    .video {
        display: none;
    }

    .bookingContainer {
        display: flex;
        height: 60vh;
    }

    .content {
        padding: 1rem;
    }
}
