
@font-face {
  font-family: texter;
  src: url('/texter.ttf');
}

@font-face {
  font-family: light;
  src: url('/light.ttf');
}

@font-face {
  font-family: medium;
  src: url('/medium.ttf');
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 300px;
}

.column {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 1200px;
}

.content {
  flex: 1;
  padding: 10px;
  color: white;
  font-family: light;
}
