@font-face {
    font-family: texter, sans-serif;
    src: url('/texter.ttf');
}

@font-face {
    font-family: light, sans-serif;
    src: url('/light.ttf');
}

@font-face {
    font-family: medium, sans-serif;
    src: url('/medium.ttf');
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px 120px 20px;
    height: auto;
    width: 100%;
    background-image: url('/lazers.jpg');
    box-shadow: inset 0 0 0 2000px rgb(0, 0, 0, 0.7);
}

.column {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.content h2 {
    padding: 16px;
    font-size: 32px;
    color: rgba(234, 31, 228, 1);
    font-family: texter, sans-serif;
    height: auto;
}

.content p {
    height: auto;
    flex: 1;
    padding: 10px;
    color: white;
    font-family: light, sans-serif;
    font-size: 18px;
}

.content ul li {
    height: auto;
    flex: 1;
    padding: 10px;
    color: white;
    font-family: light, sans-serif;
    margin-left: 40px;
}
