@font-face {
    font-family: texter, sans-serif;
    src: url('/texter.ttf');
}

@font-face {
    font-family: light, sans-serif;
    src: url('/light.ttf');
}

@font-face {
    font-family: medium, sans-serif;
    src: url('/medium.ttf');
}

.container {
    width: 100%;
    height: 180px;
    background-color: transparent;
    position: relative;
    margin: 100px 0 0;
}

.bottomRow {
    background-image: url("/funky-carpet.jpg");
    background-size: cover;
    background-position: 50%;
    width: 100%;
    height: 180px;
}

.weirdShape {
    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    height: 280px;
    background-color: rgb(76, 203, 236);
    width: 55%;
    position: absolute;
    bottom: 0;
    opacity: 1;
    background-image: url('/cool-wave.jpg');
    min-height: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 2000px rgb(70, 197, 231, 0.8);
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.weirdShapeReversed {
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    height: 280px;
    background-color: rgb(76, 203, 236);
    width: 55%;
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 1;
    background-image: url('/cool-wave.jpg');
    min-height: 100%;
    background-size: cover;
    background-blend-mode: multiply;
    box-shadow: inset 0 0 0 2000px rgb(70, 197, 231, 0.9);
    background-position: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body {
    color: whitesmoke;
    min-height: 100px;
    word-wrap: break-word;
    position: relative;
    width: 100%;
    display: block;
    text-align: left;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 18px;
    justify-self: center;
    line-height: 35px;
    font-family: medium, sans-serif;
}

.title {
    color: whitesmoke;
    min-height: 100px;
    word-wrap: break-word;
    position: relative;
    width: 100%;
    display: block;
    text-align: left;
    padding-top: 25px;
    padding-right: 50px;
    padding-left: 50px;
    font-size: 35px;
    justify-self: center;
    line-height: 35px;
    font-family: texter, sans-serif;
}

.cta {
    padding: 20px 20px 20px 20px;
    background-color: rgb(234, 31, 228);
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    height: 50px;
    border-radius: 50px;
    font-family: medium, sans-serif;
    font-weight: 400;
    text-align: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container, .body {
        height: 100%;
    }
    .weirdShape, .weirdShapeReversed {
        width: 100%;
        height: initial;
    }

    .weirdShape, .weirdShapeReversed {
        position: initial;
    }

    .title {
        padding-top: 70px;
    }

    .body {
        padding-top: 45px;
        padding-bottom: 65px;
    }
}
