.container {
  width: 100%;
  background-color: #000; /* Black background */
  color: #fff; /* White text */
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000; /* Ensure it stays above other content */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(35, 0, 36, 1); /* Adjust as needed */
  max-width: 75%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.logo {
  height: 50px; /* Adjust as needed */
}

.headerText a {
  font-size: 24px;
  font-weight: bold;
}

.callToAction {
  background-color: rgba(234, 31, 228, 1); /* Adjust as needed */
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.background {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.nav .dropdownToggle {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.nav .dropdownToggle:hover {
  background-color: #ff4081; /* Pink background on hover */
}

.dropdownToggle {
  cursor: pointer;
  position: relative;
}

.dropdownMenu {
  position: absolute;
  background-color: #000;
  padding: 10px;
  border: 1px solid #fff;
  top: 100%;
  left: 0;
  z-index: 1000;
}

.dropdownMenu a {
  display: block;
  padding: 10px;
  white-space: nowrap;
}

.dropdownMenu a:hover {
  text-decoration: underline;
}

.socialIcons {
  display: flex;
  gap: 15px;
}

.socialIcons div {
  cursor: pointer;
  font-size: 20px;
}
