@font-face {
    font-family: texter;
    src: url('/texter.ttf');
}

@font-face {
    font-family: light;
    src: url('/light.ttf');
}

@font-face {
    font-family: medium;
    src: url('/medium.ttf');
}

.container {
    width: 100%;
}

.background {
    display: flex;
    background-image: url("/GettyImages-869077028-2880w.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 65px;
    justify-content: space-evenly;
    background-color: rgba(35, 0, 36, 1);
    background-position: 50% 0;
    background-attachment: initial;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
}

.row {
    flex-direction: row;
    font-size: 20px;
    color: white;
    font-family: light;
}

.pink {
    color: #ea1fe4;
    font-size: 20px;
    font-family: texter;
    padding-bottom: 20px;
}

.item {
    padding-bottom: 20px;
}

.itemBolder {
    padding-bottom: 20px;
    font-weight: 600;
}

.boohoo {
    font-size: 10px;
    color: white;
    font-family: light;
}
